.profile-container {
	width: 100%;
	height: 70%;
	display: flex;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;
}

.profile-avatar {
	width: 60%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
.profile-avatar img {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 5%;
	width: 256px;
	height: 256px;
}

.profile-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.icon-top,
.icon-bottom {
	position: absolute;
	right: 16px;
	cursor: pointer;
}

.icon-top {
	top: 16px;
}

.icon-bottom {
	bottom: 16px;
}

.fa-edit,
.fa-sign-out-alt {
	color: #3991a5;
}

.label-file {
	cursor: pointer;
	color: #3991a5;
	font-weight: bold;
}

.input-file {
	display: none;
}
